@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  background-image: url(../img/bg.jpg);
  background-size: cover;
}

.container {
    margin-top: 200px;
    width: 100%;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto;
}

a {
  text-decoration: none;
}

h1 {
  color: rgb(204, 204, 204);
  font-family: 'Times New Roman', Times, serif;
}

.justify-content-around {
    justify-content: space-around;
}


