* {
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
  font-size: 16px;
}

body {
  margin-bottom: 0;
  background-color: #f7f7f7;
}

p {
  margin: 0 0 16px;
}

h2 {
  margin: 0;
}

.gradient-custom {
  background: linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8));
}