@use './mixin';

.container {
    @include mixin.respond-up(lg) {
        max-width: 960px;
    }

    @include mixin.respond-up(xl) {
        max-width: 1140px;
    }

    @include mixin.respond-up(xxl) {
        max-width: 1320px;
    }
}

.d-lg-flex {
    @include mixin.respond-up(lg) {
        display: flex;
    }
}

@media (max-width: 991.5px) {
  .card span {
    font-size: 1.1rem;
  }

  #selectList {
    width: 100% !important;
  }
}

@media (max-width: 525.5px) {
  #content.my-5 {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }

  .col-lg-4,
  .col-md-6 {
    padding-left: 0;
  }

  #selectList {
    width: 100% !important;
  }
}