$breakpoint-xs: 0;        // Extra small
$breakpoint-sm: 576px;    // Small
$breakpoint-md: 768px;    // Medium
$breakpoint-lg: 992px;    // Large
$breakpoint-xl: 1200px;   // Extra large
$breakpoint-xxl: 1400px;  // Extra extra large
$primary-color: #294d5c;
$hover-color: #5f9db8;
$delete-color: #e7380c;
$delete-hover: #e96949;
$edit-color: #f0b80f;
$edit-hover: #f1ca55;
$main-bg: #f7f7f7;